{% extends 'base.html.twig' %}

{% block content %}
    <table class="table table-striped trade-data">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Traded price</th>
            <th>Traded value</th>
            <th>Current price</th>
            <th>Current value</th>
            <th>Profit</th>
            <th>Gain</th>
            <th>-10% price</th>
            <th>-10% profit</th>
            <th>Target price</th>
            <th>Target profit</th>
            <th>Target gain</th>
            <th>Next earnings call</th>
        </tr>
        </thead>

        {% set total_quantity   = 0 %}
        {% set total_invested   = 0 %}
        {% set total_value      = 0 %}

        <tbody>
        {% for stock in stocks %}
            {% if stock.quantity(tradeType) %}
                {% set short_quantity           = stock.quantity(tradeType) %}
                {% set short_price              = stock.price %}
                {% set short_tradedValue        = stock.adjustedPrice(tradeType) *short_quantity %}
                {% set short_currentValue       = stock.price *short_quantity %}
                {% set short_position           = short_quantity *(stock.adjustedPrice(tradeType) -short_price) %}

                {% set short_targetPrice        = stock.shortTarget ? stock.shortTarget : 0 %}
                {% set short_targetPosition     = short_targetPrice ? short_tradedValue -(short_targetPrice *short_quantity) : 0 %}
                {% set short_targetGain         = short_price and short_targetPrice ? ((1 -(short_targetPrice /short_price)) *100) : 0 %}

                {% set short_tenPrice           = stock.adjustedPrice(tradeType) *0.9 %}
                {% set short_tenPosition        = short_tradedValue -(short_tenPrice *short_quantity) %}

                {% set highlight_targetPrice    = short_targetPrice and (short_targetPrice -stock.price) > 0 %}
                {% set highlight_tenPrice       = short_tenPrice and (short_tenPrice -stock.price) > 0 %}
                {% set highlight_currentPrice   = highlight_targetPrice or highlight_tenPrice %}
                {% set highlight_earnings       = stock.nextEarningsAt and stock.nextEarningsAt|timeAgo == 'Today' %}

                {% set total_quantity           = total_quantity +short_quantity %}
                {% set total_invested           = total_invested +short_tradedValue %}
                {% set total_value              = total_value +short_currentValue %}

                <tr>
                    <td class="text"><a href="{{ url(detailRoute, { 'symbol': stock.symbol }) }}">{{ stock.symbol }}</a></td>
                    <td class="number">{{ short_quantity }}</td>
                    <td class="money">{{ stock.adjustedPrice(tradeType)|round(2)|number_format(2) }}</td>
                    <td class="money">{{ short_tradedValue|round(2)|number_format(2) }}</td>
                    <td class="money{% if highlight_currentPrice %} highlight{% endif %}">{{ stock.price|round(2)|number_format(2) }}</td>
                    <td class="money">{{ short_currentValue|round(2)|number_format(2) }}</td>
                    <td class="money{% if stock.gain(tradeType) > 0 %} up{% elseif (stock.gain(tradeType) < 0) %} down{% endif %}">{{ short_position|number_format(2) }}</td>
                    <td class="ratio{% if stock.gain(tradeType) > 0 %} up{% elseif (stock.gain(tradeType) < 0) %} down{% endif %}">{{ stock.gain(tradeType)|number_format(2) }}%</td>
                    <td class="money{% if highlight_tenPrice %} highlight{% endif %}">{{ short_tenPrice|round(2)|number_format(2) }}</td>
                    <td class="money">{{ short_tenPosition|round(2)|number_format(2) }}</td>
                    <td class="money{% if highlight_targetPrice %} highlight{% endif %}">
                        {% if short_targetPrice %}
                            {{ short_targetPrice|round(2)|number_format(2) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="money">
                        {% if short_targetPosition %}
                            {{ short_targetPosition|round(2)|number_format(2) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="ratio">
                        {% if short_targetGain %}
                            {{ short_targetGain|round(2) }}%
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text{% if highlight_earnings %} highlight{% endif %}">
                        {% if stock.nextEarningsAt %}
                            {{ stock.nextEarningsAt|timeAgo }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>

        {% set total_gain = (total_invested > 0) ? ((1 -(total_value /total_invested)) *100) : (0) %}

        <tfoot>
        <tr>
            <td class="text">Totals:</td>
            <td class="number">{{ total_quantity }}</td>
            <td class="text"></td>
            <td class="money">{{ total_invested|number_format(2) }}</td>
            <td class="text"></td>
            <td class="money">{{ total_value|number_format(2) }}</td>
            <td class="text"></td>
            <td class="ratio{% if total_gain > 0 %} up{% else %} down{% endif %}">{{ total_gain|number_format(2) }}%</td>
            <td class="text"></td>
            <td class="text"></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
