<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Investment Trade Tracker</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}
</head>
<body>
    <header class="container-fluid">
        {% block nav %}
            <nav class="btn-group">
                <a class="btn btn-primary{% if app.request.get('_route') in ['dashboard'] %} disabled{% endif %}" href="{{ url('dashboard') }}">Dashboard</a>
                <a class="btn btn-primary{% if app.request.get('_route') in ['history_main'] %} disabled{% endif %}" href="{{ url('history_main') }}">Trade history</a>
                <a class="btn btn-primary{% if app.request.get('_route') in ['transaction_main'] %} disabled{% endif %}" href="{{ url('transaction_main') }}">Corporate action</a>
                <a class="btn btn-primary{% if app.request.get('_route') in ['long_main'] %} disabled{% endif %}" href="{{ url('long_main') }}">Portfolio long</a>
                <a class="btn btn-primary{% if app.request.get('_route') in ['short_main'] %} disabled{% endif %}" href="{{ url('short_main') }}">Portfolio short</a>
                <a class="btn btn-primary{% if app.request.get('_route') in ['option_main'] %} disabled{% endif %}" href="{{ url('option_main') }}">Portfolio option</a>
            </nav>

            {% if app.request.get('_route') in ['history_main', 'history_add'] %}
            <nav class="btn-group">
                <a class="btn btn-primary{% if app.request.get('_route') in ['history_add'] %} disabled{% endif %}" href="{{ url('history_add') }}">Add more trades</a>
            </nav>
            {% endif %}

            {% if app.request.get('_route') in ['transaction_main', 'transaction_add'] %}
            <nav class="btn-group">
                <a class="btn btn-primary{% if app.request.get('_route') in ['transaction_add'] %} disabled{% endif %}" href="{{ url('transaction_add') }}">Add more actions</a>
            </nav>
            {% endif %}

            {% block extranav %}{% endblock %}
        {% endblock %}
    </header>

    <main class="container-fluid">
        {% block content %}{% endblock %}
    </main>

    {% block javascripts %}
        <script src="//www.google.com/jsapi"></script>
        {{ encore_entry_script_tags('scripts') }}
    {% endblock %}
</body>
</html>