<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Investment Trade Tracker</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}
</head>
<body>
    <header class="container-fluid">
        {% block nav %}
            <nav class="btn-group">
                <a class="btn btn-{% if app.request.get('_route') not in ['dashboard'] %}outline-{% endif %}primary" href="{{ url('dashboard') }}">Dashboard</a>
                <a class="btn btn-{% if app.request.get('_route') not in ['history_main'] %}outline-{% endif %}primary" href="{{ url('history_main') }}">Trade history</a>
                <a class="btn btn-{% if app.request.get('_route') not in ['long_main'] %}outline-{% endif %}primary" href="{{ url('long_main') }}">Portfolio long</a>
                <a class="btn btn-{% if app.request.get('_route') not in ['short_main'] %}outline-{% endif %}primary" href="{{ url('short_main') }}">Portfolio short</a>
                <a class="btn btn-{% if app.request.get('_route') not in ['call_main'] %}outline-{% endif %}primary" href="{{ url('call_main') }}">Portfolio option</a>
            </nav>

            {% if app.request.get('_route') in ['history_main', 'history_add_raw_trades'] %}
            <nav class="btn-group">
                <a class="btn btn-{% if app.request.get('_route') not in ['history_add_raw_trades'] %}outline-{% endif %}primary" href="{{ url('history_add_raw_trades') }}">Add more trades</a>
            </nav>
            {% endif %}

            {% block extranav %}{% endblock %}
        {% endblock %}
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    {% block javascripts %}
        {{ encore_entry_script_tags('scripts') }}
    {% endblock %}
</body>
</html>