{% extends 'base.html.twig' %}

{% block extranav %}
{% endblock %}

{% block content %}
    <table class="table table-striped trade-data">
        <thead>
        <tr>
            <th>Date</th>
            <th>Trade type</th>
            <th>Order type</th>
            <th>Description</th>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Fee</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>
        {% for trade in trades %}
        <tr>
            <td class="text">{{ trade.executedAt|date('Y-m-d H:i:s') }}</td>
            <td class="text">
                <div class="btn-group">
                    <a href="{{ url('history_change_trade_type', { tradeId: trade.id, tradeType: 'Long' }) }}" class="btn btn-primary{% if trade.tradeType == 'Long' %} disabled{% endif %}">Long</a>
                    <a href="{{ url('history_change_trade_type', { tradeId: trade.id, tradeType: 'Short' }) }}" class="btn btn-primary{% if trade.tradeType == 'Short' %} disabled{% endif %}">Short</a>
                    <a href="{{ url('history_change_trade_type', { tradeId: trade.id, tradeType: 'Option' }) }}" class="btn btn-primary{% if trade.tradeType == 'Option' %} disabled{% endif %}">Option</a>
                </div>
            </td>
            <td class="text">
                <div class="btn-group">
                    <a href="{{ url('history_change_order_type', { tradeId: trade.id, orderType: 'Buy' }) }}" class="btn btn-primary{% if trade.orderType == 'Buy' %} disabled{% endif %}">Buy</a>
                    <a href="{{ url('history_change_order_type', { tradeId: trade.id, orderType: 'Sell' }) }}" class="btn btn-primary{% if trade.orderType == 'Sell' %} disabled{% endif %}">Sell</a>
                </div>
            </td>
            <td class="text">{{ trade.description }}</td>
            <td class="text">{{ trade.stock.symbol }}</td>
            <td class="number">{{ trade.quantity }}</td>
            <td class="money">{{ trade.price|round(2)|number_format(2) }}</td>
            <td class="money">{{ trade.fee|round(2)|number_format(2) }}</td>
            <td class="money">{{ trade.total|round(2)|number_format(2) }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}