{% extends 'base.html.twig' %}

{% block content %}
    <table class="table table-striped trade-data">
        <thead>
        <tr>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Traded price</th>
            <th>Traded value</th>
            <th>Current price</th>
            <th>Current value</th>
            <th>Profit</th>
            <th>Gain</th>
            <th>+10% price</th>
            <th>+10% profit</th>
            <th>Target price</th>
            <th>Target profit</th>
            <th>Target gain</th>
            {% if tradeType == 'Long' %}
                <th>Next earnings call</th>
            {% endif %}
        </tr>
        </thead>

        {% set total_quantity   = 0 %}
        {% set total_invested   = 0 %}
        {% set total_value      = 0 %}

        <tbody>
        {% for stock in stocks %}
            {% if stock.quantity(tradeType) %}
                {% set long_quantity            = stock.quantity(tradeType) %}
                {% set long_adjustedPrice       = stock.adjustedPrice(tradeType) %}
                {% set long_tradedValue         = long_adjustedPrice *long_quantity *(tradeType == 'Option' ? 100 : 1) %}
                {% set long_currentValue        = stock.price *long_quantity *(tradeType == 'Option' ? 100 : 1) %}
                {% set long_position            = long_quantity *(tradeType == 'Option' ? 100 : 1) *(stock.price -long_adjustedPrice) %}

                {% set long_targetPrice         = stock.longTarget ? stock.longTarget : 0 %}
                {% set long_targetPosition      = long_targetPrice ? ((long_targetPrice -long_adjustedPrice) *long_quantity) : 0 %}
                {% set long_targetGain          = long_adjustedPrice and long_targetPrice ? (((long_targetPrice /long_adjustedPrice) -1) *100) : 0 %}

                {% set long_tenPrice            = long_adjustedPrice *1.1 %}
                {% set long_tenValue            = (long_tenPrice *long_quantity *(tradeType == 'Option' ? 100 : 1)) -long_tradedValue %}

                {% set highlight_targetPrice    = long_targetPrice and (stock.price -long_targetPrice) > 0 %}
                {% set highlight_tenPrice       = long_tenPrice and (stock.price -long_tenPrice) > 0 %}
                {% set highlight_currentPrice   = highlight_targetPrice or highlight_tenPrice %}
                {% set highlight_earnings       = stock.nextEarningsAt and stock.nextEarningsAt|timeAgo == 'Today' %}

                {% set total_quantity           = total_quantity +long_quantity %}
                {% set total_invested           = total_invested +long_tradedValue %}
                {% set total_value              = total_value +long_currentValue %}

                <tr>
                    <td class="text"><a href="{{ url(detailRoute, { 'symbol': stock.symbol }) }}">{{ stock.symbol }}</a></td>
                    <td class="number">{{ long_quantity }}</td>
                    <td class="money">{{ long_adjustedPrice|round(2)|number_format(2) }}</td>
                    <td class="money">{{ long_tradedValue|round(2)|number_format(2) }}</td>
                    <td class="money{% if highlight_currentPrice %} highlight{% endif %}">{{ stock.price|round(2)|number_format(2) }}</td>
                    <td class="money">{{ long_currentValue|round(2)|number_format(2) }}</td>
                    <td class="money {% if stock.gain(tradeType) > 0 %}up{% elseif (stock.gain(tradeType) < 0) %}down{% endif %}">{{ long_position|number_format(2) }}</td>
                    <td class="ratio {% if stock.gain(tradeType) > 0 %}up{% elseif (stock.gain(tradeType) < 0) %}down{% endif %}">{{ stock.gain(tradeType)|number_format(2) }}%</td>
                    <td class="money {% if highlight_tenPrice %}highlight{% endif %}">{{ long_tenPrice|round(2)|number_format(2) }}</td>
                    <td class="money">{{ long_tenValue|round(2)|number_format(2) }}</td>
                    <td class="money {% if highlight_targetPrice %}highlight{% endif %}">
                        {% if long_targetPrice %}
                            {{ long_targetPrice|round(2)|number_format(2) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="money">
                        {% if long_targetPosition %}
                            {{ long_targetPosition|round(2)|number_format(2) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="ratio">
                        {% if long_targetGain %}
                            {{ long_targetGain|round(2) }}%
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    {% if tradeType == 'Long' %}
                    <td class="text{% if highlight_earnings %} highlight{% endif %}">
                        {% if stock.nextEarningsAt %}
                            {{ stock.nextEarningsAt|timeAgo }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>

        {% set total_gain = (total_value > 0) ? ((1 -(total_invested /total_value)) *100) : (0) %}

        <tfoot>
        <tr>
            <td>Totals:</td>
            <td class="number">{{ total_quantity }}</td>
            <td></td>
            <td class="money">{{ total_invested|round(2)|number_format(2) }}</td>
            <td></td>
            <td class="money">{{ total_value|round(2)|number_format(2) }}</td>
            <td class="money{% if total_gain > 0 %} up{% elseif (total_gain < 0) %} down{% endif %}">{{ (total_value -total_invested)|round(2)|number_format(2) }}</td>
            <td class="ratio{% if total_gain > 0 %} up{% elseif (total_gain < 0) %} down{% endif %}">{{ total_gain|number_format(2) }}%</td>
            <td></td>
            <td></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}
