{% extends 'base.html.twig' %}

{% block extranav %}
{% endblock %}

{% block content %}
    <table class="table table-striped trade-data">
        <thead>
        <tr>
            <th>Date</th>
            <th>Trade type</th>
            <th>Symbol</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total value</th>
            <th>Account value</th>
        </tr>
        </thead>

        {% set total_value = 0 %}

        <tbody>
        {% for transaction in transactions %}
            {% set total_value = (total_value + (transaction.price *transaction.quantity)) %}

            <tr>
                <td class="text">{{ transaction.executedAt|date('Y-m-d H:i:s') }}</td>
                <td class="text">{{ transaction.tradeType }}</td>
                <td class="text">{% if transaction.stock %}{{ transaction.stock.symbol }}{% endif %}</td>
                <td class="number">{{ transaction.quantity }}</td>
                <td class="money">{{ transaction.price|round(2)|number_format(2) }}</td>
                <td class="money">{{ transaction.totalValue|round(2)|number_format(2) }}</td>
                <td class="money">{{ transaction.accountValue|round(2)|number_format(2) }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <td class="text">Totals:</td>
            <td class="text"></td>
            <td class="text"></td>
            <td class="text"></td>
            <td class="text"></td>
            <td class="money">{{ total_value|number_format(2) }}</td>
            <td class="text"></td>
            <td class="text"></td>
            <td class="text"></td>
            <td class="text"></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}